.App .PayReport .ShiftPayTable {
  background-color: rgb(253, 253, 253);
  padding: 0 20px 1px;
  border-radius: 2px;
}

.App .PayReport .ShiftPayTable table {
  margin-bottom: 2rem;
}

.App .PayReport .shift-pay-breakdown-modal {
  width: 80%;
}

.App .PayReport .shift-pay-breakdown-modal-content {
  text-align: left;
}
