.App dialog.Modal {
  border-radius: 8px;
  border-width: 2px;
  box-shadow: 0 0 4px gray;
  min-width: 30%;
}

.App dialog.Modal.no-backdrop::backdrop {
  background: unset;
}

.App dialog.Modal button.modal-close {
  border: none;
  margin: -15px -10px 0 0;
  padding: 0;
  float: right;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.App dialog.Modal > .container {
  margin-top: 25px;
}
