.App .reactgrid-content {
  color: black;
  background-color: white;
}

.App .reactgrid-content .rg-pane .rg-cell {
  color: black;
  border-color: rgba(64, 64, 64, 0.73);
}

.App .reactgrid-content .rg-pane .rg-cell.cell-invalid {
  border-color: red;
}
